---
name: CI
'on':
    pull_request:
    push:
      branches:
        - main

defaults:
  run:
    working-directory: 'globus.globus-connect-server'

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Check out codebase
        uses: actions/checkout@v4
        with:
          path: 'globus.globus-connect-server'
      - name: Set up Python 3.
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'
      - name: Install lint dependencies
        run: pip3 install yamllint
      - name: Lint yaml
        run: |
          yamllint .

  molecule:
    name: Molecule
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - distro: debian
            version: 12
    steps:
        - name: Checkout the codebase
          uses: actions/checkout@v4
          with:
            path: 'globus.globus-connect-server'

        - name: Set up Python 3.
          uses: actions/setup-python@v5
          with:
            python-version: '3.x'

        - name: Install test dependencies
          run : pip3 install -r requirements.txt

        - name: Run Molecule tests
          run: molecule test
          env:
            PY_COLORS: '1'
            ANSIBLE_FORCE_COLOR: '1'
            MOLECULE_IMAGE: '${{ matrix.distro }}:${{ matrix.version }}'
            MOLECULE_DISTRO: ${{ matrix.distro }}
